<h2>
    Image Carrousel Demo
</h2>

<div class="carrousel-container">
    <img class="img-click" alt="0" src="~/Images/orderedList0.png" />
    <img class="img-click" alt="1" src="~/Images/orderedList1.png" />
    <img class="img-click" alt="2" src="~/Images/orderedList2.png" />
    <img class="img-click" alt="3" src="~/Images/orderedList3.png" />
    <img class="img-click" alt="4" src="~/Images/orderedList4.png" />
</div>